.webcamSkeletonUiContainer {
  background-color: rgb(196, 196, 196);
  width: 510px;

  position: absolute;
  height: 383px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 10px;
}

.WebcamSkeletonButtonsUiContainer {
  display: flex;
  flex-direction: column;

  .webcamSkeletonUi {
    background-color: rgb(196, 196, 196);
    width: 510px;
    height: 43.25px;
    border-radius: 6px;
    margin-bottom: 8px;
  }

  .webcamSkeletonUi:last-child {
    margin-bottom: 0;
  }
}
