.container {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 60px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;

  .imageInput {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border-style: dashed;
    cursor: pointer;

    &.dragButton {
      width: 100%;
      border-style: dashed;
      border-color: rgb(255, 73, 104);
      background-color: rgb(259, 259, 259);
    }
  }

  .input {
    display: none;
  }

  .imageInput:active {
    background-color: rgb(248, 248, 248);
    transform: translateX(0.7px) translateY(0.7px);
  }
}
