.container {
  min-width: calc(550px - 24px);
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  transition: 0.35s ease-in-out;

  &.visible {
    background-color: rgb(252, 252, 252);
  }

  .navText {
    cursor: pointer;
    padding: 8px;
    border-radius: 18px;
    transition: 0.08s ease-in-out;
  }

  .navText:hover {
    background-color: rgb(221, 221, 221);
  }

  .navText:active {
    transform: translateX(0.7px) translateY(0.7px);
  }
}
